// nombrar como secrets.h
// This file is used to store sensitive information such as WiFi credentials and API keys.
// Make sure to add this file to your .gitignore to prevent it from being committed to version control.
#define SECRET_WIFI_SSID "ssid"
#define SECRET_WIFI_PASSWORD "password"
#define SECRET_API_KEY "api_key"